<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.spring.boot.demospringboot.mybatis.dao.CatXMLDao">
    <select id="queryById" resultType="demo.spring.boot.demospringboot.mybatis.vo.Cat">
    SELECT id , name , age from t_cat
    WHERE id = #{id}
</select>
</mapper>