<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.spring.boot.docker.mybatis.dao.TComponentCommonCmdDao">

    <resultMap id="resultMap" type="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="redhat_cmd" property="redhatCmd"/>
        <result column="debian_cmd" property="debianCmd"/>
        <result column="bin_cmd" property="binCmd"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <insert id="insert"
            parameterType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        INSERT INTO `t_component_common_cmd`(
        `id` ,
        `name` ,
        `redhat_cmd` ,
        `debian_cmd` ,
        `bin_cmd` ,
        `status` ,
        `create_time` ,
        `update_time` ,
        `delete_flag` 
        )VALUE(
          #{id}  ,
          #{name}  ,
          #{redhatCmd}  ,
          #{debianCmd}  ,
          #{binCmd}  ,
          #{status}  ,
          #{createTime}  ,
          #{updateTime}  ,
          #{deleteFlag}  
        )
    </insert>

    <insert id="inserts"
            parameterType="java.util.List">
        INSERT INTO `t_component_common_cmd`(
        `id`,
        `name`,
        `redhat_cmd`,
        `debian_cmd`,
        `bin_cmd`,
        `status`,
        `create_time`,
        `update_time`,
        `delete_flag`
        )VALUES
        <foreach collection="vos" item="item" separator=",">
            (
            #{item.id},
            #{item.name},
            #{item.redhatCmd},
            #{item.debianCmd},
            #{item.binCmd},
            #{item.status},
            #{item.createTime},
            #{item.updateTime},
            #{item.deleteFlag}
            )
        </foreach>
    </insert>

    <select id="queryBase" resultMap="resultMap"
            resultType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo"
            parameterType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        SELECT
        `id`,
        `name`,
        `redhat_cmd`,
        `debian_cmd`,
        `bin_cmd`,
        `status`,
        `create_time`,
        `update_time`,
        `delete_flag`
        FROM `t_component_common_cmd`
        <where>
            1 = 1
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="redhatCmd != null">
                AND `redhat_cmd` = #{redhatCmd}
            </if>
            <if test="debianCmd != null">
                AND `debian_cmd` = #{debianCmd}
            </if>
            <if test="binCmd != null">
                AND `bin_cmd` = #{binCmd}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                AND `update_time` = #{updateTime}
            </if>
            <if test="deleteFlag != null">
                AND `delete_flag` = #{deleteFlag}
            </if>
        </where>
    </select>

    <update id="updateBase"
            parameterType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        UPDATE `t_component_common_cmd`
        <set>
            <if test="source.name != null">
                `name` = #{source.name},
            </if>
            <if test="source.redhatCmd != null">
                `redhat_cmd` = #{source.redhatCmd},
            </if>
            <if test="source.debianCmd != null">
                `debian_cmd` = #{source.debianCmd},
            </if>
            <if test="source.binCmd != null">
                `bin_cmd` = #{source.binCmd},
            </if>
            <if test="source.status != null">
                `status` = #{source.status},
            </if>
            <if test="source.createTime != null">
                `create_time` = #{source.createTime},
            </if>
            <if test="source.updateTime != null">
                `update_time` = #{source.updateTime},
            </if>
        </set>
        <where>
            1 =1
            <if test="target.id != null">
                AND `id` = #{target.id}
            </if>
            <if test="target.name != null">
                AND `name` = #{target.name}
            </if>
            <if test="target.redhatCmd != null">
                AND `redhat_cmd` = #{target.redhatCmd}
            </if>
            <if test="target.debianCmd != null">
                AND `debian_cmd` = #{target.debianCmd}
            </if>
            <if test="target.binCmd != null">
                AND `bin_cmd` = #{target.binCmd}
            </if>
            <if test="target.status != null">
                AND `status` = #{target.status}
            </if>
            <if test="target.createTime != null">
                AND `create_time` = #{target.createTime}
            </if>
            <if test="target.updateTime != null">
                AND `update_time` = #{target.updateTime}
            </if>
            <if test="target.deleteFlag != null">
                AND `delete_flag` = #{target.deleteFlag}
            </if>
        </where>
    </update>

    <update id="updateBaseIncludeNull"
            parameterType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        UPDATE `t_component_common_cmd`
        <set>
            `name` = #{source.name},
            `redhat_cmd` = #{source.redhatCmd},
            `debian_cmd` = #{source.debianCmd},
            `bin_cmd` = #{source.binCmd},
            `status` = #{source.status},
            `create_time` = #{source.createTime},
            `update_time` = #{source.updateTime},
        </set>
        <where>
            1 =1
            <if test="target.id != null">
                AND `id` = #{target.id}
            </if>
            <if test="target.name != null">
                AND `name` = #{target.name}
            </if>
            <if test="target.redhatCmd != null">
                AND `redhat_cmd` = #{target.redhatCmd}
            </if>
            <if test="target.debianCmd != null">
                AND `debian_cmd` = #{target.debianCmd}
            </if>
            <if test="target.binCmd != null">
                AND `bin_cmd` = #{target.binCmd}
            </if>
            <if test="target.status != null">
                AND `status` = #{target.status}
            </if>
            <if test="target.createTime != null">
                AND `create_time` = #{target.createTime}
            </if>
            <if test="target.updateTime != null">
                AND `update_time` = #{target.updateTime}
            </if>
            <if test="target.deleteFlag != null">
                AND `delete_flag` = #{target.deleteFlag}
            </if>
        </where>
    </update>

    <delete id="deleteBase"
            parameterType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        DELETE FROM `t_component_common_cmd`
        <where>
            1 =1
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="redhatCmd != null">
                AND `redhat_cmd` = #{redhatCmd}
            </if>
            <if test="debianCmd != null">
                AND `debian_cmd` = #{debianCmd}
            </if>
            <if test="binCmd != null">
                AND `bin_cmd` = #{binCmd}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                AND `update_time` = #{updateTime}
            </if>
            <if test="deleteFlag != null">
                AND `delete_flag` = #{deleteFlag}
            </if>
        </where>
    </delete>


    <select id="queryByPrimaryKey" resultMap="resultMap"
            resultType="demo.spring.boot.docker.vo.table.TComponentCommonCmdVo">
        SELECT
        `id`,
        `name`,
        `redhat_cmd`,
        `debian_cmd`,
        `bin_cmd`,
        `status`,
        `create_time`,
        `update_time`,
        `delete_flag`
        FROM `t_component_common_cmd`
        <where>
            1 =1
            AND `id` = #{id}
            AND `delete_flag` = #{deleteFlag}
        </where>
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE FROM `t_component_common_cmd`
        <where>
            1 = 1
               AND `id` = #{id}
               AND `delete_flag` = #{deleteFlag}
        </where>
    </delete>

</mapper>